/*Default CSS Rules*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea:focus, input:focus {
    outline: none;
}

/*Default CSS Custom Variables*/
:root {
    --default-overflow-wrap: break-word;
    --default-font-size: clamp(1rem, 1rem + 2vw, 2rem);
    --default-max-inline-size: 66ch;
    --default-line-height: 1.65;
    --default-font-weight: normal;
    --default-font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    --dark-grey: #1b1b1b;
    --light-grey: #80868B;
    --blue: #4285F4;
    --white: whitesmoke;
}

/*Webpage Specific Rules*/

@keyframes appear {
    from {
      opacity: 0;
      clip-path: inset(25% 25% 25% 25%);
    }
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
}

.card {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
}

html,
body {
    height: 100%;
    overflow-y: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-grey);
}

.header {
    position: sticky;
    top: 0;
    z-index: 1111;
    height: calc(var(--default-font-size)*2);
    background-color: var(--dark-grey);
    border-bottom: 1px solid var(--light-grey);
    display: grid;
    grid-template-columns: calc(var(--default-font-size)*1.5) 1fr calc(var(--default-font-size)*1.5) calc(var(--default-font-size)*1.5);
    gap: calc(var(--default-font-size)*.5);
    padding: calc(var(--default-font-size)*.25);
  }

  .text {
    color: var(--white);
    font-family: var(--default-font-family);
    text-transform: capitalize;
    font-size: calc(var(--default-font-size)*1.5);
  }

  .logo img,
  .search img {
      filter: brightness(0) invert(1);
      height: calc(var(--default-font-size)*1.5);
      width: auto;
  }
  
  .account-icon img {
      border-radius: 25px;
      height: calc(var(--default-font-size)*1.5);
      width: auto;
  }

.main {
    flex: 1 0 auto;
    background-color: var(--dark-grey);
}

.container {
    padding: 10px 0px;
   display: grid;
   justify-items: center;
   grid-row-gap: 25px;
   grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.card {
    background-color: var(--dark-grey);
    color: var(--white);
    text-transform: capitalize;
    width: 350px;
    height: 400px;
    border: 0.5mm solid black;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
}

.entry-area {
    display: flex;
    flex-direction: column;
}

input {
    position: relative;
    margin: 2.5%;
    color: transparent;
    width: 95%;
    height: calc(var(--default-font-size)*2);
    outline: none;
    font-size: calc(var(--default-font-size)*0.75);
    border-radius: 10px;
    border: 2px solid var(--white);
    background: transparent;
    z-index: 1111;
}

.labelline {
    position: absolute;
    width: auto;
    text-transform: uppercase;
    font-size: calc(var(--default-font-size)*.6);
    font-weight: 100;
    color: var(--light-grey);
    padding: var(--default-font-size) 0px 0px var(--default-font-size);
    transition: 0.5s ease;
;}

input:focus {
    color: var(--white);
    border: 2px solid var(--white);
    padding: 20px;
}

input:focus + .labelline {
    color: var(--white);
    background-color: var(--dark-grey);
    padding: 0px;
    width: auto;
    height: auto;
    font-size: calc(var(--default-font-size)*.55);
    transform: translate(calc(var(--default-font-size)*0.5), calc(var(--default-font-size)*-0.03));
    z-index: 1111;
}

input:valid {
    color: var(--blue);
    border: 1px solid var(--blue);
    padding: 20px;
    transition-duration: 1000ms;
}

input:valid + .labelline {
    color: var(--white);
    background-color: var(--blue);
    padding: 0px 5px;
    border-radius: 10px;
    width: auto;
    height: auto;
    font-size: calc(var(--default-font-size)*.55);
    transform: translate(calc(var(--default-font-size)*0.5), calc(var(--default-font-size)*-0.03));
    z-index: 1111;
}

.footer {
    flex-shrink: 0;
    position: sticky;
    bottom: 0;
    height: calc(var(--default-font-size)*1.5);
    background-color: var(--blue);
    border-top: 1px solid var(--light-grey);
    font-size: calc(var(--default-font-size)*1.1);
    font-family: var(--default-font-family);
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
}
